@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

@theme {
  --color-landing-background: #0f0f10;

  --color-landing-shader-background: #0f0f10;
  --color-landing-shader-wire: #6d6d76;

  --color-landing-text-primary: #d7d7db;
  --color-landing-text-secondary: #8e8e94;

  --color-landing-border: rgba(255, 255, 255, 0.08);

  --font-display: "Cormorant Garamond";
}